/* Global Colors */
:root {
    --c-purple: rgb(128, 115, 218);
    --c-black: #000000;
    --c-white: #ffffff;
    /* Future */
    --c-green: limegreen;
    /* Present */
    --c-orange: orange;
    /* Past */
    --c-grey: #d3d3d3;
}


.jumbotron {
    text-align: center;
    background-color: transparent;
    color: var(--c-black);
    border-radius: 0;
    border-bottom: 3px solid var(--c-black);
    background-color: var(--c-purple);

}

.jumbotron h1 {
    text-shadow: 1px 1px white;
}

.jumbotron #currentDate {
    font-weight: bold;
    font-size: larger;
    text-shadow: 1px 1px white;
}

.row {
    white-space: pre-wrap;
    height: 80px;
    margin: 2px;
}


.hour {
    background-color: var(--c-white);
    color: var(--c-black);
    border-top: 1px solid var(--c-black);
    padding-top: 5px;
    font-weight: bold;
}

.future {
    background-color: var(--c-green);
    color: var(--c-white);
}

.present {
    background-color: var(--c-orange);
    color: var(--c-white);
}

.past {
    background-color: var(--c-grey);
    color: var(--c-white);
}

.saveBtn {
    border: 1px solid var(--c-black);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--c-purple);
    color: var(--c-white);
}

.saveBtn i:hover {
    font-size: 200%;
    color: var(--c-white);
}

.description {
    white-space: pre-wrap;
}

textarea {
    resize: none;
}